<section>
<h2>Resources</h2>
  <article class="row">

    <ul>
      <li>
        <a href="">Timebank &amp; Holacracy</a>
      </li>
      <li>
        <a href="">Community Guidelines</a>
      </li>
      <li>
        <a href="">Start a timebank near you</a>
      </li>
    </ul>
  </article>
</section>
